.card {
    width: 14rem;
    margin: 5px;
}

.card .card-body .icon {
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 10px;
    font-size: 45px;
    text-align: center;
}

.color-state {
    color: #007BFF;
}
.color-cart {
    color: #AEAC9A;
}
.color-clients {
    color: #FF917E;
}
.color-money {
    color: #4BBC8E;
}
.color-city {
    color: #2F4858;
}
.color-location {
    color: #F9F871;
}


