<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Teste</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="container" id="app">
        <nav class="navbar navbar-expand-lg navbar-light primary-color">
            <a class="navbar-brand" href="#">Mercafacil - Teste</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu-principal"
                aria-controls="menu-principal" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="menu-principal">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="dashboard.html">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="graficos.html">Gráficos</a>
                    </li>

                </ul>
                <form class="form-inline">
                    <div class="md-form my-0">
                        Entre: <input class="form-control mr-sm-2" v-model="inicio" type="date" min="2018-06-01"
                            max="2018-07-31" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" placeholder="Inicio"
                            aria-label="Search">
                        e <input class="form-control mr-sm-2" v-model="fim" type="date" min="2018-06-01"
                            max="2018-07-31" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" placeholder="Fim" aria-label="Search">
                    </div>
                </form>
            </div>
        </nav>
        <div class="row">
            <div class="col-md-10 offset-md-1 d-flex justify-content-center">
                <div class="card color-money">
                    <div class="card-body">
                        <div class="icon">
                            <i class="fas fa-money-bill"></i>
                        </div>
                        <h5 class="card-title">{{indicadores.faturamentoTotal}}</h5>
                        <p class="card-text">Faturamento</p>
                    </div>
                </div>
                <div class="card color-cart">
                    <div class="card-body">
                        <div class="icon">
                            <i class="fas fa-shopping-cart"></i>
                        </div>
                        <h5 class="card-title">{{indicadores.totalCupons}}</h5>
                        <p class="card-text">Vendas </p>
                    </div>
                </div>
                <div class="card color-clients">
                    <div class="card-body">
                        <div class="icon">
                            <i class="fas fa-users"></i>
                        </div>
                        <h5 class="card-title">{{indicadores.clientes}}</h5>
                        <p class="card-text">Clientes</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1 d-flex justify-content-center">
                <div class="card color-city">
                    <div class="card-body">
                        <div class="icon">
                            <i class="fas fa-city"></i>
                        </div>
                        <h5 class="card-title">{{indicadores.localidade.cidades}}</h5>
                        <p class="card-text">Cidades</p>
                    </div>
                </div>
                <div class="card color-state">
                    <div class="card-body">
                        <div class="icon">
                            <i class="fas fa-flag-usa"></i>
                        </div>
                        <h5 class="card-title">{{indicadores.localidade.estados}}</h5>
                        <p class="card-text">Estados</p>
                    </div>
                </div>
                <div class="card color-location">
                    <div class="card-body">
                        <div class="icon">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                        <h5 class="card-title">{{indicadores.localidade.bairros}}</h5>
                        <p class="card-text">Bairros</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="./js/dashboard.js"></script>
</html>